<p>nosotros works!</p>

  <div class="card mb-3" style="max-width: 1380px; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://tse1.mm.bing.net/th?id=OIP.NsyqRVwIAKTSkdComm5ZEQHaEp&pid=Api&P=0&h=180"  style="align-items: center;"   style="width: 370px;"  class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><h1>SOBRE NOSOTROS</h1></h5>
          <p class="card-text">es una empresa colombiana experta en energía solar en Colombia y en construcción de plantas solares formada por profesionales de gran experiencia en el sector energético, tanto en el sector Eléctrico como en Energías Renovables.  </p>
          <p class="card-text"><small class="text-body-secondary">Suplir tus espetactivas</small></p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card mb-3" style="max-width: 1380px; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.tec.ac.cr/hoyeneltec/sites/default/files/media/img/main/seslab_paneles_.jpg"  style="align-items: center;"   style="width: 370px;"  class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><h1>MISION</h1></h5>
          <p class="card-text">se centra en la promoción y fomento del uso sostenible y responsable de la energía solar, mediante la oferta de soluciones innovadoras y accesibles que aborden las necesidades energéticas tanto a nivel individual como comunitario..</p>
          <p class="card-text"><small class="text-body-secondary">Mejorar tu calidad de vida </small></p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card mb-3" style="max-width: 1380px; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://tse4.mm.bing.net/th?id=OIP.JOdBrp7k3lGPDLz9CXVGyQHaEO&pid=Api&P=0&h=180"  style="align-items: center;"   style="width: 370px;"  class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><h1>VISION</h1></h5>
          <p class="card-text">es liderar la revolución hacia un futuro energético sostenible, consolidándonos como líderes globales en la industria solar. Buscamos ser reconocidos por nuestra excelencia en innovación y desarrollo tecnológico, proporcionando soluciones solares eficientes y accesibles.</p>
          <p class="card-text"><small class="text-body-secondary">Crecer es nuestra vision </small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 mb-2 bg-secondary text-white" style="height: 400px;">
    <h4 class="alert-heading">Datos de la empresa</h4>
    <hr>
      <p class="text-lowercase">Hubicasion: Kra 23 N° 63-54</p>
      <p class="text-uppercase">Telefonos: 306 345m 8970 0 fijo 606 8760923</p>
      <p class="text-capitalize">Email: comiSolar.com</p>
      <p class="text-capitalize">Ciudad: Manizales</p>
    <hr>
    <h4>Contactanos en las redes</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Logo_de_Facebook.png" style="height: 30px;"   alt="">
    <img src="https://tse3.mm.bing.net/th?id=OIP.5YNdoiZ2_RB6fTsZ2fHIFwAAAA&pid=Api&P=0&h=180"  style="height: 30px;"   alt="">
    <img src="https://clipart.info/images/ccovers/1499955335whatsapp-icon-logo-png.png" style="height: 30px;"   alt="">
    </div>