<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://png.pngtree.com/png-clipart/20230315/ourmid/pngtree-sun-cartoon-cute-doodle-png-image_6646859.png"
        alt="" width="60" height="50" class="d-inline-block align-text-top"> </a>

    <div style="text-align: start;" style=" color: lightseagreen; ">
      <h3>comuniSolar</h3>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <li>
        <a class="nav-link" routerLink="/inicio" routerLinkActive="Active" ArriCurrentWhenActive="pages"><button
            class="btn btn-primary" type="button">Inicio</button></a>
      </li>
      <li>
        <a class="nav-link" routerLink="/nosotros" routerLinkActive="Active" ArriCurrentWhenActive="pages"><button
            class="btn btn-primary" type="button">Nosotros</button></a>
      </li>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

