<p>inicio works!</p>
<main>
    <img src="https://www.ecured.cu/images/f/fc/Radiaci%C3%B3n_solar.jpg" style="height: 300px;" width="1410rem; alt="
      Imagen externa />
  </main>
  <p></p>

   <!-- que es  -->

   <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><h1>Radiacion solar</h1></h5>
          <p class="card-text" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> La radiación solar es la energía emitida por el Sol en forma de ondas
            electromagnéticas  
            Esta energía incluye una amplia gama de longitudes de onda, desde rayos ultravioleta (UV), luz visible e
            infrarroja. Al llegar a la Tierra, la radiación solar es fundamental para los
            procesos naturales, como el clima, la fotosíntesis y el mantenimiento de las temperaturas del planeta. . </p>
        </div>
      </div>
    </div>

     <!-- ingreso  sesion  -->
     <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">INICIO DE SESIÓN</h5>
          <div class="container-fluid">
            <div class="mb-3" style="width: 450px;">
              <label for="formGroupExampleInput" class="form-label">Usuario</label>
              <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Nombre" [(ngModel)]="model.email">
            </div>
            <div class="mb-3" style="width: 450px;">
              <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Contraseña" [(ngModel)]="model.password">
            </div>
          </div>
          <button (click)="login()" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
    
  
  <!--  sesion de clasificacion  -->

      <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <aside class="bd-sidebar">
          <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar"
            aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Explorar documentos</font>
                </font>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerca"
                data-bs-target="#bdSidebar"></button>
            </div>
  
            <div class="offcanvas-body">
              <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Navegación de documentos">
                <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                  <li class="bd-links-group py-2">
  
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                      <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                        <use xlink:href="#book-half"></use>
                      </svg>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
  
                        </font>
                      </font>
                    </strong>
  
  
  
                    <div class="bd-content ps-lg-2">
  
                      <div class="bd-example">
                        <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 rounded-2">
                          <a class="navbar-brand" href="#">
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">
  
                              </font>
                            </font>
                          </a>
                          <ul class="nav nav-pills">
                            <li class="nav-item">
                              <a class="nav-link" href="#scrollspyHeading1">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Se clasifica</font>
                                </font>
                              </a>
                            </li>
  
                            <li class="nav-item">
                              <a class="nav-link" href="#scrollspyHeading1">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Nivel</font>
                                </font>
                              </a>
                            </li>
  
                            <li class="nav-item">
                              <a class="nav-link" href="#scrollspyHeading1">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Beneficios</font>
                                </font>
                              </a>
                            </li>
  
  
  
                            <div class="scrollspy-example bg-body-tertiary p-3 rounded-2" data-bs-spy="scroll"
                              data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                              data-bs-smooth-scroll="true" tabindex="0">
                              <h4 id="scrollspyHeading1">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">SE CLASIFICA</font>
                                </font>
                              </h4>
                              <ul>
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">
                                    <li>Radiación directa: Llega sin obstáculos desde el Sol hasta la superficie
                                      terrestre.</li>
                                    <li> Radiación difusa: Es dispersada por moléculas y partículas en la atmósfera, como
                                      las nubes o el polvo.</li>
                                    <li>Radiación global: Es la suma de la radiación directa y difusa que llega a un punto
                                      en la superficie.</li>
                                    <li>La radiación solar varía según la hora del día, la latitud, la estación del año y
                                      las condiciones atmosféricas. Esta energía es esencial en sistemas como los paneles
                                      solares, que la convierten en electricidad o calor.</li>
                                  </font>
                                </font>
                              </ul>
  
                              <h4 id="scrollspyHeading2">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Nivel de Radiacion solar</font>
                                </font>
                              </h4>
  
  
                              <p>
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;"></font>se miden principalmente en función de la
                                  cantidad de energía que llega a la superficie terrestre. Estos niveles varían según
                                  factores como la hora del día, la estación, la altitud, la latitud y las condiciones
                                  atmosféricas (como nubosidad o contaminación). Existen diferentes formas de clasificar
                                  la radiación, pero algunas de las más comunes son:
                                </font>
                              </p>
                              1. Medición en términos de potencia y energía Irradiancia:
                              Se mide en vatios por metro cuadrado (W/m²) y describe la potencia instantánea de radiación
                              que llega a un área específica.
                              <ul>
                                <li>Irradiación: Es la acumulación de irradiancia durante un período (por ejemplo, en un
                                  día) y se mide en kWh/m².</li>
                                Ejemplos de niveles de irradiancia:
  
                                <li>Día soleado: 800 a 1,000 W/m²</li>
                                <li>Día nublado: 100 a 500 W/m²</li>
                              </ul>
  
                              2. Índice ultravioleta (UV)
                              El índice UV mide la intensidad de la radiación ultravioleta, especialmente relevante para
                              la salud, ya que niveles altos de radiación UV pueden causar daños en la piel y los ojos. La
                              Organización Mundial de la Salud (OMS) clasifica los niveles UV en:
                              <ul>
                                <li>0 a 2 (Bajo): Riesgo mínimo para la salud.</li>
                                <li>3 a 5 (Moderado): Precaución recomendada, especialmente para personas sensibles.</li>
                                <li>>6 a 7 (Alto): Protección necesaria (como uso de bloqueador y gafas de sol).</li>
                                <li>8 a 10 (Muy Alto): Evitar exposición prolongada al sol.</li>
                                <li>11+ (Extremo): Riesgo muy alto; evitar salir al aire libre sin protección.</li>
                              </ul>
  
                              3. Niveles por localización y clima
                              <ul>
                                <li>Zonas tropicales: Niveles altos de radiación solar y UV durante todo el año.</li>
                                <li>Altitudes elevadas: A mayor altura, la atmósfera es más delgada y hay menos
                                  filtración, por lo que los niveles son más altos.</li>
                                <li>Zonas polares: Reciben poca radiación en invierno y niveles más altos durante el
                                  verano debido al sol continuo.</li>
                              </ul>
                              El conocimiento de estos niveles es importante para la salud pública, el diseño de sistemas
                              solares y la planificación agrícola, ya que afecta la productividad y las condiciones
                              ambientales.
  
                              <h4 id="scrollspyHeading2">
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;">Beneficios de usar módulos de análisis solar
                                  </font>
                                </font>
                              </h4>
                              <p>
                                <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;"></font>
                                  <ul>
                                    <li>Eficiencia energética: Aprovechamiento máximo de la radiación disponible.</li>
                                    <li>Reducción de costos: Mejora la rentabilidad de proyectos solares.</li>
                                    <li>Sostenibilidad: Optimiza el uso de energía renovable y reduce el impacto
                                      ambiental.</li>
  
                                    <p></p>
  
                                  </ul>
  
                                  <div class="p-3 mb-2 bg-secondary text-white" style="height: 400px;">
                                    <h4 class="alert-heading">Datos de la empresa</h4>
                                    <hr>
                                    <p class="text-lowercase">Hubicasion: Kra 23 N° 63-54</p>
                                    <p class="text-uppercase">Telefonos: 306 345m 8970 0 fijo 606 8760923</p>
                                    <p class="text-capitalize">Email: comiSolar.com</p>
                                    <p class="text-capitalize">Ciudad: Manizales</p>
                                    <hr>
                                    <h4>Contactanos en las redes</h4>
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Logo_de_Facebook.png"
                                      style="height: 30px;" alt="">
                                    <img
                                      src="https://tse3.mm.bing.net/th?id=OIP.5YNdoiZ2_RB6fTsZ2fHIFwAAAA&pid=Api&P=0&h=180"
                                      style="height: 30px;" alt="">
                                    <img src="https://clipart.info/images/ccovers/1499955335whatsapp-icon-logo-png.png"
                                      style="height: 30px;" alt="">
                                  </div> 